# SQLite for local development
DATABASE_URL="file:./dev.db"

# PostgreSQL for production (change this when deploying)
# DATABASE_URL="postgresql://user:password@host:5432/database?schema=public"

NEXT_PUBLIC_SITE_URL=http://localhost:3000
